.page {
  display: block;
  margin: 0 auto;
}

.keyboard__meta {
  align-items: center;
  text-align: center;
  padding-top: 50px;
  font-size: 24px;
}

.textarea {
  width: 600px;
  height: 200px;
  border: 1px solid #250290;
}

.textarea:focus {
  outline: none;
  border: 2px solid #250290;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.keyboard {
  text-align: center;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  width: 100%;
  max-width: 900px;
  padding: 5px;
  background-color: #250290;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  height: 256px;
}

.keyboard__list {
  width: 100%;
}
.keyboard__item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  height: 45px;
  width: 5.7%;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background-color:rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  position: relative;
}

.keyboard__item_active {
  background-color:rgba(255, 255, 255, 0.12);
}

.keyboard__item_wide {
  width: 12%;
}

.keyboard__item_extrawide {
  width: 37.2%;
  max-width: 500px;
}
.keyboard__item_activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:  rgba(0, 0, 0, 0.5);
}

.keyboard__item_active::after {
  background-color: #38ee13;
}
.keyboard__item_dark {
  background-color:  rgba(0, 0, 0, 0.25);
}
